// Take your API key from https://www.alchemy.com/ and paste it here
RPC_URL=https://eth-mainnet.g.alchemy.com/v2/YOUR_API_KEY

// Take your API key from https://etherscan.io/ and paste it here
ETHERSCAN_API_KEY=YOUR_API_KEY